[submodule "components/esp32_https_server"]
	path = components/esp32_https_server
	url = https://github.com/fhessel/esp32_https_server.git
	ignore = dirty
[submodule "components/QRCode"]
	path = components/QRCode
	url = https://github.com/phildubach/QRCode.git
	ignore = dirty
[submodule "components/SSD_13XX"]
	path = components/SSD_13XX
	url = https://github.com/sumotoy/SSD_13XX
	ignore = dirty
[submodule "components/DHT-sensor-library"]
	path = components/DHT-sensor-library
	url = https://github.com/adafruit/DHT-sensor-library.git
	ignore = dirty
[submodule "components/Adafruit_Sensor"]
	path = components/Adafruit_Sensor
	url = https://github.com/adafruit/Adafruit_Sensor.git
	ignore = dirty
[submodule "components/NeoPixelBus"]
	path = components/NeoPixelBus
	url = https://github.com/Makuna/NeoPixelBus.git
	ignore = dirty
[submodule "components/rc-switch"]
	path = components/rc-switch
	url = https://github.com/sui77/rc-switch.git
	ignore = dirty
[submodule "components/ESP8266_Influx_DB"]
	path = components/ESP8266_Influx_DB
	url = https://github.com/An00bIS47/ESP8266_Influx_DB.git
	ignore = dirty
[submodule "components/Adafruit_BME280"]
	path = components/Adafruit_BME280
	url = https://github.com/adafruit/Adafruit_BME280_Library.git
	ignore = dirty
[submodule "src/ArduinoJson"]
	path = src/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
	ignore = dirty
[submodule "components/Adafruit_NeoPixel"]
	path = components/Adafruit_NeoPixel
	url = https://github.com/adafruit/Adafruit_NeoPixel.git
	ignore = dirty
[submodule "utils/homekit_python"]
	path = utils/homekit_python
	url = https://github.com/jlusiardi/homekit_python.git	