### Arduino ###
build/


### Platformio
.pio/


### macOS ###
*.DS_Store
.AppleDouble
.LSOverride
._*
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### HAP Spec ###
docs/HAP-Specification-Non-Commercial-Version-2.pdf
docs/.*

### Eclipse ###
.cproject
.project
.settings

### elasticbeanstalk ###
utils/update_server/.*

### Backup ###
*.bak
*.old
*.org
old

### Log files ###
*.log

### WIFI Credentials ###
WiFiCredentials.hpp

### buildnumber ###
buildnumber
utils/buildnumber/buildnumber
utils/buildnumber/*.o

### node_modules ###
node_modules/

### scripts ###
git-submodules.sh
#init-modules.sh
update.sh

### ToDo ###
ToDo.txt

### cppcheck ###
cppcheck.log

### certs ###
certs/*.h
certs/*/*.h
*.der
*.crt
*.cer
*.pem
*.csr
*.privatekey
*.publickey
*.key
*.p12


### vscode ###
.vscode/

### git-sizer ###
git-sizer

### tmp ### 
*.tmp

### SPIFFS ###
spiffs/config.json
*.spiffs

### config.json ###
config.json
config.*

### www/dev ###
www/dev/*

### homekit.bin ###
utils/update_server/Homekit.bin

### Apple fonts ###
utils/QRCode/Scancardium_2.0.ttf
utils/QRCode/SFMono-Bold.otf

### sdkconfig ###
sdkconfig
sdkconfig.16MB
sdkconfig.heltec

### Keystores ###
*.bin
utils/TLV8Keystore/*.bin
#utils/TLV8Keystore/*.csv
utils/TLV8Keystore/*.tlv8
utils/TLV8Keystore/*.sig
utils/TLV8Keystore/*.pre

utils/TLV8Keystore/*/*.bin
utils/TLV8Keystore/*/*.csv
utils/TLV8Keystore/*/*.tlv8
utils/TLV8Keystore/*/*.sig
utils/TLV8Keystore/*/*.pre

### pk_sign and pk_verify
utils/TLV8Keystore/*.o
utils/TLV8Keystore/pk_sign
utils/TLV8Keystore/pk_verify

### builder ###
utils/builder/*.png

### flash scripts ###
flash*

### src/component.mk ###
src/component.mk