[submodule "components/arduino"]
	path = components/arduino
	url = https://github.com/espressif/arduino-esp32.git
[submodule "components/ArduinoJson"]
	path = components/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
[submodule "components/esp32_https_server"]
	path = components/esp32_https_server
	url = https://github.com/fhessel/esp32_https_server.git
[submodule "components/QRCode"]
	path = components/QRCode
	url = https://github.com/phildubach/QRCode.git
[submodule "components/SSD_13XX"]
	path = components/SSD_13XX
	url = https://github.com/sumotoy/SSD_13XX
[submodule "components/DHT-sensor-library"]
	path = components/DHT-sensor-library
	url = https://github.com/adafruit/DHT-sensor-library.git
[submodule "components/Adafruit_Sensor"]
	path = components/Adafruit_Sensor
	url = https://github.com/adafruit/Adafruit_Sensor.git
[submodule "components/NeoPixelBus"]
	path = components/NeoPixelBus
	url = https://github.com/Makuna/NeoPixelBus.git
[submodule "components/Adafruit_NeoPixel"]
	path = components/Adafruit_NeoPixel
	url = https://github.com/adafruit/Adafruit_NeoPixel.git
[submodule "components/rc-switch"]
	path = components/rc-switch
	url = https://github.com/sui77/rc-switch.git
[submodule "components/ESP8266_Influx_DB"]
	path = components/ESP8266_Influx_DB
	url = https://github.com/An00bIS47/ESP8266_Influx_DB.git
[submodule "components/Adafruit_BME280"]
	path = components/Adafruit_BME280
	url = https://github.com/adafruit/Adafruit_BME280_Library.git
[submodule "utils/homekit_python"]
	path = utils/homekit_python
	url = https://github.com/jlusiardi/homekit_python.git
[submodule "components/esp8266-oled-ssd1306"]
	path = components/esp8266-oled-ssd1306
	url = https://github.com/ThingPulse/esp8266-oled-ssd1306.git
[submodule "components/Adafruit_Neopixel"]
	path = components/Adafruit_Neopixel
	url = https://github.com/adafruit/Adafruit_NeoPixel.git
[submodule "components/ArduinoStreamUtils"]
	path = components/ArduinoStreamUtils
	url = https://github.com/bblanchon/ArduinoStreamUtils.git
[submodule "components/RF24"]
	path = components/RF24
	url = https://github.com/nhatuan84/RF24.git
[submodule "components/Arduino-IRremote"]
	path = components/Arduino-IRremote
	url = https://github.com/z3t0/Arduino-IRremote.git
[submodule "components/IRremote8266"]
	path = components/IRremote8266
	url = https://github.com/crankyoldgit/IRremoteESP8266.git
